* {
	-webkit-appearance: none;
	-moz-appearance: none;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans';
	letter-spacing: 6px;
	margin: 0px;
}

a, p {
	font-family: 'Jost';
	letter-spacing: 2px;
	margin: 0px;
}

.trades--list{
	padding-left: 20px;
	font-family: 'Jost';
	font-size: 20px;
}

.trades--list-item {
	padding-bottom: 20px;
}

p {
	font-size: 25px;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 20px;
	font-size: 75px;
}

h2 {
	font-size: 75px;
	color: #00CCCC;
	margin-bottom: 40px;
	text-align: center;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

section {
	margin-bottom: 220px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 5px 5px #00000050;
	width: 100%;
	height: auto;
	z-index: 99999;
}


.nav--logo-link img {
	padding: 20px 0;
}


.container {
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	height: auto;
}

.hero {
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	color: white
}

.hero--bg {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero p {
	margin-bottom: 40px;
}

.button {
	background-color: #00CCCC;
	color: white;
	padding: 15px 60px;
	border-radius: 20px;
	text-decoration: none;
	font-size: 20px;
	transition: 200ms ease-in-out;
}

.button:hover {
	box-shadow: 0px 2px 10px #00000025;
}

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.about--header {
	width: 45%;
}

.about--cont {
	width: 55%;
}

.offers--card-wrap {
	display: flex;
	justify-content: space-between;
}

.offer--card-header {
	display: flex;
	align-items: center;
}

.offer--card-header img {
	margin-right: 15px;
}

.offer--card {
	background-color: white;
	box-shadow: 0px 4px 4px #00000025;
	border-radius: 5px;
	width: 30%;
}

.offer--card p {
	margin: 0;
}

.carousel--cell {
	width: 100%;
	margin-right: 20px;
	padding: 20px;
	display: flex;

}

.carousel--cell-cont {
	width: 95%;
}

.flickity-button {
	display: none;
}

.flickity-page-dots {
	top: 0;
	bottom: 0;
	left: -30px;
	width: 30px;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flickity-page-dots .dot {
	width: 10px;
	height: 10px;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 20px
}

.flickity-page-dots .dot.is-selected {
	background-color: black;
}

.trades--card-wrap {
	padding: 20px 10px;
	background-color: white;
	box-shadow: 0px 5px 10px #00000025;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 40px;
}

.trades--card-text p {
	font-size: 20px;
}

.trades--content-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trades--text-block {
	width: auto;
}

.trades--img-block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 20px;
	margin-left: 24px;
}

.trades--img-wrap {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #00000025;
}
