* {
	-webkit-appearance: none;
	-moz-appearance: none;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans';
	letter-spacing: 6px;
	margin: 0px;
}

a, p {
	font-family: 'Jost';
	letter-spacing: 2px;
	margin: 0px;
}

footer {
	background-color: #EBEDEE;
	padding: 60px 0;
	padding-bottom: 5px;
}

.trades--list{
	padding-left: 20px;
	font-family: 'Jost';
	font-size: 20px;
}

.trades--list-item {
	padding-bottom: 20px;
}

p {
	font-size: 25px;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 20px;
	font-size: 75px;
}

h2 {
	font-size: 75px;
	color: #00CCCC;
	margin-bottom: 40px;
	text-align: center;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

section {
	padding: 0 20px;
	margin-bottom: 220px;
}

nav {
	padding: 0px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 5px 5px #00000050;
	width: 100%;
	height: auto;
	z-index: 99999;
}


.nav--logo-link img {
	padding: 20px 0;
}


.container {
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	height: auto;
}

.hero {
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	color: white
}

.hero--bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero p {
	margin-bottom: 40px;
}

.button {
	background-color: #00CCCC;
	color: white;
	padding: 15px 60px;
	border-radius: 20px;
	text-decoration: none;
	font-size: 20px;
	transition: 200ms ease-in-out;
}

.button:hover {
	box-shadow: 0px 2px 10px #00000025;
}

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.about--header {
	width: 45%;
}

.about--cont {
	width: 55%;
}

.offers--card-wrap {
	display: flex;
	justify-content: space-between;
}

.offer--card-header {
	display: flex;
	align-items: center;
}

.offer--card-header img {
	margin-right: 15px;
}

.offer--card {
	background-color: white;
	box-shadow: 0px 4px 4px #00000025;
	border-radius: 5px;
	width: 30%;
	padding: 15px;
}

.offer--card p {
	margin: 0;
}

.carousel--cell {
	width: 100%;
	margin-right: 20px;
	padding: 20px;
	display: flex;

}

.carousel--cell-cont {
	width: 95%;
}

.flickity-button {
	display: none;
}

.flickity-page-dots {
	top: 0;
	bottom: 0;
	left: -30px;
	width: 30px;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flickity-page-dots .dot {
	width: 10px;
	height: 10px;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 20px
}

.flickity-page-dots .dot.is-selected {
	background-color: black;
}

.trades--card-wrap {
	padding: 20px 10px;
	background-color: white;
	box-shadow: 0px 5px 10px #00000025;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 40px;
}

.trades--card-text p {
	font-size: 20px;
}

.trades--content-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trades--text-block {
	width: auto;
}

.trades--img-block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 20px;
	margin-left: 24px;
}

.trades--img-wrap {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #00000025;
}


.testimonial--selector-wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 175px;
}

.testimonial--selector-wrap p {
	display: inline;
	position: relative;
}

.testimonial--grid-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	column-gap: 20px;
}

.testimonial--cell-wrap {
	padding: 10px 5px;
	background-color: white;
	box-shadow: 0px 0px 10px #00000025;
	border-radius: 5px;
}

.testimonial--header {
	display: flex;
	margin-bottom: 10px;
}

.testimonial--avatar-img {
	height: 40px;
	width: 40px;
	overflow: hidden;
	border-radius: 100%;
	margin-right: 20px;
}

.testimonial--head {
	font-size: 30px;
	margin: 0;
}

.testimonial--date {
	font-size: 18px;
	color: #555;
	margin: 0;
}

.testimonial--mark {
	height: 24px;
	margin-bottom: 15px;
}

.testimonial--comment {
	margin: 0;
	font-size: 18px;
}

.dropbox--wrap {
	background-color: #F5F5F5;
	border-radius: 5px;
	margin: 5px;
}

.dropbox--wrap p {
	margin: 0;
}

.dropbox--head {
	padding: 25px 30px;
}

.dropbox--cont {
	padding: 0 30px;
	padding-bottom: 5px;
}

.dropbox--cont p {
	font-size: 16px;
}

.hidden {
	display: none;
}

.contacts--wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.block {
	width: 45%;
}

.contacts--links {
	color: #00CCCC;
	display: block;
	font-size: 22px;
	margin-bottom: 10px;
}

.contacts--wrap a {
	margin-right: 5px;
	text-decoration: none;
	transition: 100ms ease-in-out;
}

.contacts--wrap a:hover {
	opacity: 50%;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

.footer--links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.footer--links-wrap {
	margin-right: 20px;
}

.footer--links a {
	display: block;
	margin-bottom: 10px;
	color: #000;
	text-decoration: none;
	transition: 200ms ease-in-out;
}

.footer--links h3 {
	margin-bottom: 25px;
}

.footer--links a:hover {
	opacity: 50%;
}

.copyright {
	font-size: 14px;
	display: block;
	text-align: center;
	margin-top: 70px;
}

.selected::after {
	content: "";
	height: 2px;
	width: 100%;
	background: #00CCCC;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
}

.photos--grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 10px;
	row-gap: 10px;
}

.photos--grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
